*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: "Uchen", serif;
        font-weight: 400;
        font-style: normal;
      
}
.all-content{
    background: #2e1700;
}
/* navbar */
.navbar{
background-color: #573818;
padding-left: 50px;
font-weight: bold;
}
#logo{
    font-size: 23px;
    color: white;
}
#logo img{
    margin-bottom: 15px;
}
.navbar-nav{
    margin-left: 10px;
}
.nav-link{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-left: 15px;
    transition: 0.5s ease;
}
.nav-link:hover{
    background-color:rgba(161, 109, 14, 1);
    color: white;
    border-radius: 5px;
}
.icons1{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.icons1 :hover{
    transform: translateY(-5px);
}
@media screen and(max-width:330px){
    #logo{
        font-size: 15px;
    }
}
.dropdown-item{
    color: white;
    transition: 0.5s ease-in-out;
    text-shadow: 1px 1px 1px black;
}
.dropdown-item :hover{
    background-color: #ec7d0e;
    color: white;
    cursor: pointer;
}
/* navbar end */

/*--home section---*/
.Home{
    width: 100%;
    height: 850px;
    display: flex;
    background-image: url(images/Background\ image\ .jpg);
    background-attachment: fixed;
    align-items: center;
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}
.content{
    flex: 1 1 400px;
    margin-left: 60px;
}
.content h3{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
.content h2{
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    animation: blink 1s linear infinite;
}
@keyframes blink{
    30%{
        opacity: 0;
    }
    80%{
        opacity: 5;
    }
}
.content p{
    font-size: 40px;
    color: rgb(255, 196, 0);
    font-weight: lighter;
    font-family:'Times New Roman', serif;
}
.home.img{
 justify-content: end;
 width: 50%;
 height: 50px;
 z-index: 0;
 position: relative;
}
.content .btn{
    width: 110px;
    height: 38px;
    background-color: #ec7d0e;
    color: white;
}
.content .btn:hover{
    background-color: antiquewhite;
    color: rgb(230, 182, 22);
}
@media screen and (max-width:800px){
    .content h3{
        font-size: 50px;
    }
}
 @media screen and (max-width:860px){
        .Home{
            height: 120vh;
        }
   }
  @media screen and (max-width:560px){
        .Home{
                height: 100vh;
       }     
}
  @media screen and (max-width:330px) {
        .content h2{
            font-size: 30px;
        }
        .content h3{
            font-size: 30px;
        }
}
/*--home section end--*/
/*top cards*/
.card{
    box-shadow: 0px 0px 5px black;
    transition: 0.5s ease;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-10px);
}
/*--banner--*/
.banner{
    width: 100%;
    height: 60vh;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://img.freepik.com/free-photo/easter-background-with-chocolate-eggs-sheep-rabbit_23-2147608937.jpg?ga=GA1.1.1364464788.1731476194&semt=ais_hybrid);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px black;
    margin-top: 50px;
}
#btnorder button{
    width: 150px;
    height: 32px;
    letter-spacing: 5px;
    background-color: #ec7d0e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width:800px) {
    .banner .content h3{
        font-size: 50px;
    }
}
@media screen and (max-width:855px) {
    .banner{
            height: 10vh;
    }
}
/*banner end*/
/*product cards*/
#product-cards h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: #ec7d0e;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid rgba(161, 109, 14, 1);
}
#product-cards .card{
    background-color: rgba(161, 109, 14, 1);
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    cursor: pointer;
}
.overlay{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10;
    margin-left: 0;
    width: 70px;
}
#product-cards .card:hover .overlay{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s ease;
}
.overlay i {
    background-color: #2e1700;
    height: 30px;
    width: 30px;
    font-size: 20px;
    padding: 7px;
    margin: -20px;
    margin-bottom: 5%;
    cursor: pointer;
}
.overlay.btn-secondary{
    background: transparent !important;
    border: none;
    border-bottom: 1px 1px 1px black;
}
#product-cards h3{
    color: white;
    text-shadow: 1px 1px 1px black;
}
.star .checked{
    color: yellow;
}
#product-cards p{
    color: #2e1700;
    font-weight: bold;
}
#product-cards h6{
    font-size: 20px;
    color: #2e1700;
    font-weight: bold;
}
#product-cards h6 span button{
    width: 100px;
    height: 26px;
    font-size: 15px;
    background: transparent;
    letter-spacing: 3px;
    border: 2px solid #573818;
    border-radius: 5px;
    float: right;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
#product-cards h6 span button:hover{
    background-color: #2e1700;
    color: white;

}

/*product cards*/
 
/*gallery*/
#gallery{
    margin-top: 50px;
}
#gallery h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: #ec7d0e;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid rgba(161, 109, 14, 1);
}
#gallery .card{
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}
#gallery .overlay{
    opacity: 0;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 1px black;
}
#gallery .card:hover .overlay{
        opacity: 5;
        margin-top: 45%;
        transition: 0.5 ease;
}
#gallery h3{
    color: whitesmoke;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
/*gallery end*/
  
/*About*/
#about{
    margin-top: 50px;
}
#about h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: rgba(161, 109, 14, 1);
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid rgba(161, 109, 14, 1);
}
#about .card{
    background-color: rgba(161, 109, 14, 1);
    color: white;
}
#about p{
    color: rgba(161, 109, 14, 1);
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    font-size: x-large;
}
#bt button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgba(161, 109, 14, 1);
    color: white;
    border: none;
    cursor: pointer;
}
@media screen and(max-width:760px){
    #about p{
        font-size: 10px;
    }
}
@media screen and(max-width:1000px){
    #about p{
        font-size: 20px;
    }
}
/*about end*/
     /*contact*/
     #contact{
        margin-top: 100px;
     }
     #contact h1{
        text-align: center;
        font-weight: bold;
        margin-top: 50px;
        color: rgba(161, 109, 14, 1);
        text-shadow: 1px 1px 1px black;
        border-bottom:2px solid rgba(161, 109, 14, 1)
     }
     #contact input{
        background-color:rgba(161, 109, 14, 1);
     }
     #contact input::placeholder{
        color: white;
     }
     #contact textarea{
        background-color: rgba(161, 109, 14, 1);
     }
     #contact textarea::placeholder{
        color: white;
     }
     #messagebtn{
        text-align: center;
     }
     #messagebtn button{
        width: 300px;
        height: 30px;
        letter-spacing: 3px;
        font-weight: bold;
        background: transparent;
        border: 2px solid white;
        color: white;
        transition: 0.5s;
        cursor: pointer;
     }
     #messagebtn button:hover{
        background-color: rgba(161, 109, 14, 1);
     }
     /*contact end*/

      /*footer*/
      #footer{
        width: 100%;
        background-color: #573818;
        box-sizing: 0px 0px 5px black;
        margin-top: 100px;
      }
      #footer h1{
        color: white;
        padding-top: 30px;
      }
      #footer p{
        color: white;
      }
      .icons i{
        background-color: white;
        color: #573818;
        border-radius: 50px;
        padding: 6px;
        font-size: 30px;
        transition: 0.5s;
        cursor: pointer;
      }
      .icons i:hover{
        background-color: rgba(161, 109, 14, 1);
        color: white;
      }
     .copyright{
      color: white;
     }
     .credite{
        color: white;
     }
     /*footer end*/
     html{
     scroll-behavior: smooth;
     }
     .arrow{
     position: fixed;
     height: 50px;
     bottom: 40px;
     right: 50px;
     text-decoration: none;
     text-align: center;
     line-height: 50px;
     }